.searchComponent {
    position: relative;
    width: 100%;
}

.input {
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 30px;
    background-color: var(--white-color);
    color: var(--text-color-dark);
}

.resultsList {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: fit-content;
    width: 100%;
    overflow-y: auto;
    border-radius: 10px;
    z-index: 100;
    color: var(--text-color-dark);
    background-color: var(--white-color);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    scrollbar-width: none;
}
.resultsList::-webkit-scrollbar {
    display: none;
}

.resultItem {
    padding: 0.5rem;
    cursor: pointer;
}

.resultItem:hover {
    background-color: var(--light-gray-color);
}
