.checkboxField {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
    width: 100vw;
}

.content {
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 2em;
    width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding-inline: 5em;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}