.checkboxField {
    display: flex;
    align-items: center;
    gap: var(--theme-spacing-xs);
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--theme-spacing-xl);
    padding-top: var(--theme-spacing-xl);
    color: var(--text-color-light);
}

.content {
    display: flex;
    align-items: center;
    gap: var(--theme-spacing-xl);
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing-lg);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color-light);
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing-lg);
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.backButton {
    position: absolute;
    top: var(--theme-spacing-md);
    display: none;
    flex-direction: column;
    align-self: flex-start;
    background: none;
    border: none;
    color: var(--white-color);
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: var(--theme-spacing-md);
}

.backContent {
    display: flex;
    align-items: center;
    gap: var(--theme-spacing-xs);
}

.backButtonMain {
    color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        width: 100%;
        padding: var(--theme-spacing-md);
        font-size: 0.9rem;
    }

    .form {
        display: none;
    }

    .listContainer {
        padding-inline: var(--theme-spacing-md);
    }

    .backButton {
        display: flex;
    }
}
