.addButton {
    position: fixed;
    bottom: var(--theme-spacing-lg);
    right: var(--theme-spacing-lg);
    width: 50px;
    height: 50px;
    border-radius: var(--theme-border-radius-full);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px var(--shadow-color);
    cursor: pointer;
    transition: background-color var(--theme-transitions-normal);
}

@media screen and (min-width: 769px) {
    .addButton {
        display: none;
    }
}
