.button {
    background: linear-gradient(
        90deg,
        var(--primary-color) 20%,
        var(--auxiliary-color) 100%
    );
    color: var(--white-color);
    border: none;
    border-radius: var(--theme-border-radius-md);
    padding: var(--theme-spacing-sm) var(--theme-spacing-lg);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all var(--theme-transitions-normal);
    font-weight: bold;
}

.button:hover:not(:disabled) {
    background-color: var(--primary-color-hover);
    transform: translateY(-2px);
}

.button:active:not(:disabled) {
    background-color: var(--primary-color-hover);
    transform: translateY(0);
}

.button:disabled {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.button:focus {
    outline: none;
    border: none;
}

.onlyIcon {
    border: none;
    cursor: pointer;
    padding: var(--theme-spacing-sm);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.danger {
    background: var(--red-color);
}

.light {
    background: transparent;
    color: var(--primary-color);
    border: 1px dashed var(--primary-color);
}

.light:focus {
    border: 1px dashed var(--primary-color);
}
