.button {
    background: linear-gradient(
        90deg,
        var(--primary-color) 20%,
        var(--auxiliary-color) 100%
    );
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;
}

.button:hover:not(:disabled) {
    background-color: var(--button);
    transform: translateY(-2px);
}

.button:active:not(:disabled) {
    background-color: var(--button);
    transform: translateY(0);
}

.button:disabled {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.button:focus {
    outline: none;
    border: none;
}

.onlyIcon {
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.danger {
    background: var(--red-color);
}
