.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--background-color);
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}

.simpleHeader {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    border-bottom: solid 1px var(--light-gray-color);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: small;
}

.title {
    color: var(--primary-color);
    font-size: 1.5em;
}


@media screen and (max-width: 768px) {
    .title {
        font-size: 1.2em;
    }

    .simpleHeader {
        padding: 10px 15px;
    }

    .header {
        padding: 10px 15px;
        
    }
}