.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: #1e1e1e;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: small;
}

.simpleHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: #1e1e1e;
    border-bottom: solid 1px var(--light-gray-color);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: small;
}

.title {
    color: var(--primary-color);
    font-size: 1.5em;
}


@media screen and (max-width: 768px) {
    .title {
        font-size: 1.2em;
    }

    .simpleHeader {
        padding: 10px 15px;
    }

    .header {
        padding: 10px 15px;
    }
}