.container {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing-md);
    width: 100%;
    box-sizing: border-box;
}

.list {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid var(--border, var(--gray-color-20));
    background-color: var(--surface-color);
    color: var(--text-color-light);
    gap: var(--theme-spacing-xs);
    width: 100%;
    overflow-y: auto;
    max-height: 300px;
    scrollbar-width: thin;
    scrollbar-color: var(--black-color) var(--transparent-color);
}

@media screen and (max-width: 768px) {
    .list {
        max-height: 400px;
    }
}
