:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --white-color: #fff;
    --black-color: #131313;
    --background-color: #242424;
    --primary-color: #00cfaf;
    --primary-color-hover: #00b39f;
    --auxiliary-color: #059669;
    --auxiliary-color-hover: #047857;
    --gray-color: #3d3d3d;
    --dark-gray-color: #1c1c1c;
    --light-gray-color: #c5c5c5;
    --red-color: #ff4d6d;
    --text-color-light: #e4e4e4;
    --text-color-dark: #141414;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    /* justify-content: center; */
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
}
