.mainContainer {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    height: 100%;
}

.container {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    height: 100%;
    width: 100vw;
}

.content {
    flex-grow: 1;
    padding: 20px;
}