.inputContainer {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 10px 20px;
    border-radius: 10px;
    gap: 5px;
    align-items: center;
    width: 100%;
    min-height: 50px;

    color: var(--black-color);
}

.inputWrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
}

.label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    margin: 0;
    color: var(--gray-color);
    pointer-events: none;
    transition: all 0.2s ease;
}

.backgroundLayer.active .label {
    top: 0.2rem;
    font-size: 0.6rem;
    transform: translateY(-90%);
}

.input {
    border: none;
    width: 100%;
    border-radius: 4px;
    transform: translateY(20%);
    font-size: 1rem;
    color: var(--black-color);
    background-color: transparent;
}

.input:focus {
    outline: none;
}

.backgroundLayer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.clearIcon {
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-color);
}

.error {
    position: absolute;
    color: var(--red-color);
    font-size: 0.8rem;
    top: 55px;
}