.item {
    padding: var(--theme-spacing-md) var(--theme-spacing-lg);
    display: flex;
    gap: var(--theme-spacing-md);
    justify-content: space-between;
    background-color: var(--surface-color);
}
